@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


:root{
    --text-color:white;
    --sec-color:red;
}


* {
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
}

.main {
    background-image: url(/assets/web-dev\ bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    
}


.my-nav{
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    height: 63px;
    margin: auto;
    align-items: center;
   


}




.my-nav h1{
    font-family: 'josefin sans', sans-serif;
    font-size: 34px;
    text-shadow: 10px 10px 15px blue;
    text-transform: capitalize;
   
}





.my-nav a{
    color: white;
    text-decoration: none;
    margin: 12px;
    font-family: 'josefin sans', sans-serif;
    font-size: 23px;
    text-shadow: 15px 15px 10px cornflowerblue;
}




.box {
    background-color: black;
    opacity: 0.66;
    height: 80vh;
    position: absolute;
    width: 100%;
    top: 0;
}




.box-content{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin-top: 80px;
    z-index: 10;
    position: absolute;
    margin-left: 10vw;
    margin-top: 180px;

}




.box-content h1{
   color: var(--text-color);
   font-size: 55px;
   font-family: 'josefin sans',sans-serif;
   text-shadow: 10px 10px 15px blue;
}




.box-content p{
   font-size: 28px;
   color: var(--text-color);
   font-size: 28px;
   font-family: 'josefin sans',sans-serif;
   padding: 12px;
   line-height: 2;
   text-shadow: 15px 15px 10px cornflowerblue;
   margin-right: 15vw;
}


.br-1{
    background-color: rgb(231, 204, 204);
    opacity: 0.22;
    height: 1vh;
}